{{ $data := index .Site.Data .Site.Language.Lang }}
{{ if $data.contact.enable }}
{{"<!-- Start Contact Us -->" | safeHTML}}
<section id="contact-us" class="contact-us section-bg">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-12">
                {{"<!-- section title -->" | safeHTML}}
                <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                    <h2>{{ with $data.contact.heading }} {{ . }} {{ end }} <span
                            class="color">{{ with $data.contact.headingSpan }} {{ . }} {{ end }}</span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML}}

            {{"<!-- Contact Details -->" | safeHTML}}
            <div class="contact-info col-lg-6 wow fadeInUp" data-wow-duration="500ms">
                {{ with $data.contact.title }}<h3>{{ . }}</h3> {{ end }}
                {{ with $data.contact.content }} <p> {{ . }} </p> {{ end }}
                <div class="contact-details">
                    {{ range $data.contact.contactDetails }}
                    <div class="con-info clearfix">
                        <i class="{{ .icon }}"></i>
                        <span>{{ .info }}</span>
                    </div>
                    {{ end }}
                </div>
            </div>

            {{"<!-- Contact Form -->" | safeHTML}}
            <div class="col-lg-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                <form id="contact-form" class="form-meghna" method="POST" action="https://formspree.io/admin@ywamsendai.org" role="form">
                    <!-- <input name="e-mail" type="text" id="e-mail" autocomplete="off"> -->
                    <div class="form-group">
                        <input type="text" placeholder="{{ $data.contact.name }}" class="form-control" name="name" id="name">
                    </div>
                    <div class="form-group">
                        <input type="email" placeholder="{{ $data.contact.email }}" class="form-control" name="_replyto" id="email">
                    </div>
                    <div class="form-group">
                        <input type="hidden" placeholder="{{ $data.contact.subject }}" class="form-control" name="_subject" id="subject" value="Website Contact">
                    </div>
                    <div class="form-group">
                        <textarea rows="6" placeholder="{{ $data.contact.message }}" class="form-control" name="message"
                            id="message"></textarea>
                    </div>
					<input type="text" name="_gotcha" style="display:none" />
                    <!-- <div id="mail-success" class="success">
                        Thank you. The Mailman is on His Way :)
                    </div>
                    <div id="mail-fail" class="error">
                        Sorry, don't know what happened. Try later :(
                    </div> -->
                    <div id="cf-submit">
                        <input type="submit" id="contact-submit" class="btn btn-transparent" value="{{ $data.contact.submit }}">
                    </div>
                </form>
            </div>
        </div>
    </div>

    {{ if $data.contact.enable_maps }}
    {{"<!-- Google Map -->" | safeHTML}}
    <div class="google-map">
        <div id="map-canvas" {{ with $data.contact.mapLatitude }} data-latitude="{{ . }}" {{ end }} {{ with $data.contact.mapLongitude }} data-longitude="{{ . }}" {{ end }}></div>
    </div>
    {{ end }}
</section>
{{"<!-- /contact -->" | safeHTML}}
{{ end }}