{{ $data := index .Site.Data .Site.Language.Lang }}
{{ if $data.news.enable }}
{{"<!-- News -->" | safeHTML }}
<section id="team-skills" class="parallax-section section section-bg overly">
    <div class="container">
        <div class="row">
            {{"<!-- section title -->" | safeHTML }}
            <div class="col-lg-12">
                <div class="title text-center">
                    <h2>{{ with $data.news.heading}} {{ . }} {{ end }} <span class="color">{{ with $data.news.headingSpan }} {{ . }} {{ end }}</span></h2>
                    <div class="border-meghna"></div>
                </div>
            </div>
            {{"<!-- /section title -->" | safeHTML }}
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ with $data.news.title }} <h2> {{ . }} </h2> {{ end }}
                {{ with $data.news.content }} <p> {{ . }} </p> {{ end }}
                <img class="img-fluid" src="{{ $data.news.image | absURL }}" alt="image">
				<a class="twitter-timeline" data-theme="dark" data-link-color="#19CF86" href="https://twitter.com/ywamsendai?ref_src=twsrc%5Etfw">Tweets by ywamsendai</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
            </div>
            <div class="col-lg-6">
                <ul class="skill-bar">
                    {{ range $data.news.skillItem }}
                    <li>
                        <p><span>{{ .itemNumber }}</span>{{ .itemName }}</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                aria-valuemax="100" style="width:{{ .itemPercent }}">
                            </div>
                        </div>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</section>
{{"<!-- /news -->" | safeHTML }}
{{ end }}