{{ if .Site.Params.news.enable}}
{{"<!-- Start News -->" | safeHTML}}
<section class="call-to-action section-sm bg-1 overly" id="news" style='background-image: url("{{ .Site.Params.counter.bgImage | absURL }}")'>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
               {{ with .Site.Params.news.title}} <h2>{{ . }}</h2> {{ end }}
               {{ with .Site.Params.news.content }} <p>{{ . }}</p> {{ end }}
                <a href="{{ .Site.Params.news.btnURL }}" class="btn btn-main">{{ with .Site.Params.news.btnText }} {{ . }} {{end}}</a>
            </div>
        </div>
    </div>
</section>
{{"<!-- Start News Section -->" | safeHTML}}
{{ end }}